<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns="http://www.w3.org/1999/xhtml" >
    <head th:replace="layout/plantilla::head">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>
    <header th:replace="layout/plantilla::header"></header>
    <br/>
    <a th:href="@{/}" class="btn btn-dark" style="width: 100px; height: 40px;">[[#{accion.regresar}]]</a>
    <br/>
    <br/>
    <form th:action="@{/up}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br/>
        <br/>
        <button type="submit" th:text="#{accion.upload}" class="btn btn-dark">Upload File</button>

    </form>


    <div>

    </div>
    <br/>
    <footer th:replace="layout/plantilla::footer"></footer>
</body>
</html>